<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" />
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="Bookstore"
	  connectionString="LAPTOP\HAMIN"/>
	</connectionStrings>
	<SubSonicService defaultProvider="Bookstore">
		<providers>
			<add name="Bookstore" type="SubSonic.SqlDataProvider, SubSonic"
				connectionStringName="Bookstore" generatedNamespace="Bookstore" />
		</providers>
	</SubSonicService>
	<system.web>
		<compilation>
			<buildProviders>
				<add extension=".abp" type="SubSonic.BuildProvider, SubSonic" />
			</buildProviders>
		</compilation>
	</system.web>	
</configuration>