.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 250px;
    max-height: 250px;
    overflow: hidden; 
}

.avatar-preview {
    max-width: 100%; 
    max-height: 20%;
    border-radius: 100%;
}

.input-notify {
    color: rgb(217, 4, 41);
    font-size: smaller;
}

